In [23]:
#pip install ffmpeg

In [24]:
#pip install bar_chart_race

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('corona_dat.csv')

In [27]:
df.sample()

,date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,US,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
89,4/20/2020,37,35,150,18,0,0,134,85,180,...,22,29223,98,0,12,10,0,0,6,0

In [28]:
df2 = df[['date','China','Italy','Brazil','Spain','US','Turkey']]
df2.head()

        date  China  Italy  Brazil  Spain  US  Turkey
0  1/22/2020    593      0       0      0   1       0
1  1/23/2020     98      0       0      0   0       0
2  1/24/2020    291      0       0      0   1       0
3  1/25/2020    505      0       0      0   0       0
4  1/26/2020    693      0       0      0   3       0

In [29]:
df2.set_index('date', inplace=True)

In [30]:
toplam = df2.cumsum(axis=0)

In [31]:
toplam.head()

           China  Italy  Brazil  Spain  US  Turkey
date
1/22/2020    593      0       0      0   1       0
1/23/2020    691      0       0      0   1       0
1/24/2020    982      0       0      0   2       0
1/25/2020   1487      0       0      0   2       0
1/26/2020   2180      0       0      0   5       0

In [32]:
import bar_chart_race as bcr

In [33]:
bcr.bar_chart_race(toplam, filename='covid19.mp4',figsize=(10,8), title='Ege')

/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:889: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_values.iloc[:, 0] = df_values.iloc[:, 0].fillna(method='ffill')
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:286: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_yticklabels(self.df_values.columns)
/opt/anaconda3/lib/python3.12/site-packages/bar_chart_race/_make_chart.py:287: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
MovieWriter ffmpeg unavailable; using Pillow instead.

Exception: You do not have ffmpeg installed on your machine. Download
                            ffmpeg from here: https://www.ffmpeg.org/download.html.

                            Matplotlib's original error message below:

                            unknown file extension: .mp4